.card {
    border-radius: 1.75rem;
    box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.04);
    width: 45%;
    margin-bottom: 20px;
    background-color: aquamarine;

    min-height: 50%;
}

.card-header{
    padding: 20px;
}

.card-content{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-content img{
    margin-bottom: 15px;
}

.card-content p{
    text-align: center;
}